.homeBeaconContainer {
  position: fixed;
  top: 1vh;
  left: 0.5vw;
  width: 30px;
  height: 30px;
  margin: 2px;
}

#homeBeacon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #007acc;
  color: white;
  border-radius: 0.2rem;
  text-decoration: none;
}
