.steamIdForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.steamIdInput {
  padding: 0.5em;
  font-size: 1em;
  width: 100%;
  max-width: 400px;
  margin-top: 0.5em;
  text-align: center;
  border: none;
  background-color: #e3e4e6;
}

.steamIdInput::placeholder {
  color: #7e7d7d;
  font-style: italic;
  opacity: 0.7;
}

.steamIdForm > button:hover {
  background-color: #2a475e;
}
