:root {
  background-color: #171a21;
  color: #c7d5e0;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}

button:hover {
  background-color: #555555;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
