.game-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 0.5em 0.25em;
}

.gameInfo {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

.gameName {
  font-size: 1.618em;
  font-weight: bold;
  margin: 0;
}

.hoursPlayed {
  font-size: 1em;
  color: #555;
  margin: 0;
  text-align: left;
}

.gameIcon {
  display: block;
  height: 1.618em;
}
